.button-section {
  width: 100%;
  height: 100vh;
  display: grid;
  flex-direction: row;
  grid-template-columns: 0.7fr 1fr;
  position: absolute;
  bottom: 0;
}

.previous-btn,
.next-btn,
.submit-btn {
  text-align: center;
  margin-top: calc(100vh - 7rem);
}

.submit-text-area {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 800;
}

.submit-text {
  margin: 8px auto;
}
