.page-container {
  background-image: url('/Img/6345959-min1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 20px;
}

.summary-container {
  background-image: url('/Img/6345959-min1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.summary-container h2,
h3 {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.answers {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #000000;
}

.form-prompt {
  color: #000000;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
  text-align: center;
}

.form-group label {
  text-align: center;
}

.submit-button {
  margin-bottom: 20px;
  text-align: center;
}

.submit-button {
  background-color: var(--button-bg-color);
  color: #fff;
  text-align: center;
  font-size: 20px;
  height: 50px;
  width: 200px;
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 1px 1px 0px #021c73,
    1px 2px 0px #021c73,
    1px 3px 0px #000000,
    1px 4px 0px #000000,
    1px 5px 0px #000000,
    1px 6px 0px #000000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
  /* Add transition for hover effect */
}

.submit-button:hover {
  background-color: var(--button-hover-bg-color);
}

@media (min-width: 320px) and (max-width: 350px) {
  .form-group {
    max-width: 150px;
    min-width: 150px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .form-container {
    height: 87vh;
    justify-content: space-evenly;
  }

  form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .form-group {
    flex: 1;
    min-width: 200px;
    min-height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }

  .submit-button {
    height: 60px;
    font-size: 30px;
  }

  .submit-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .form-prompt {
    font-size: 25px;
  }

  .summary-container {
    height: 87vh;
  }

  .summary-container p {
    font-size: 30px;
  }

  .summary-container h2,
  h3 {
    font-size: 30px;
  }


}



@media (min-width: 1025px) {
  .form-container {
    height: 87vh;
    justify-content: space-evenly;
  }

  form {
    width: 80%;
    max-width: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .form-group {
    flex: 1;
    min-width: 300px;
    min-height: 155px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }

  .submit-button {
    height: 70px;
    width: 400px;
    font-size: 30px;
  }

  .submit-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .form-prompt {
    font-size: 30px;
  }

  .summary-container {
    height: 87vh;
  }

  .summary-container p {
    font-size: 30px;
  }

  .summary-container h2,
  h3 {
    font-size: 40px;
  }

}