.welcome-container {
  height: 84vh;
  display: flex;
  justify-content: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #333;
}

.welcome-title {
  font-size: 70px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #8d8d8d,
    1px 2px 0px #525151,
    1px 3px 0px #000000,
    1px 4px 0px #000000,
    1px 5px 0px #000000,
    1px 6px 0px #000000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

.welcome-container p {
  font-size: 20px;
  margin-bottom: 40px;
  color: #000000;
}

.continue-button {
  background: linear-gradient(to right, #006100, #011d01);
  color: #fff;
  font-size: 20px;
  height: 50px;
  width: 200px;
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 1px 1px 0px #012c01,
    1px 2px 0px #011d01,
    1px 3px 0px #000000,
    1px 4px 0px #000000,
    1px 5px 0px #000000,
    1px 6px 0px #000000,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

.continue-button:hover {
  background-color: #004d00;
}

@media (min-width: 320px) and (max-width: 350px) {
  .welcome-title {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .welcome-container {
    height: 87vh;
    align-items: center;
  }

  .continue-button {
    height: 60px;
    font-size: 30px;
  }

  .welcome-title {
    font-size: 80px;
  }

  .welcome-container p {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1025px) {
  .welcome-container {
    height: 87vh;
  }

  .continue-button {
    height: 70px;
    width: 400px;
    font-size: 40px;
  }

  .welcome-title {
    font-size: 100px;
  }

  .welcome-container p {
    font-size: 40px;
    margin-bottom: 40px;
  }
}