.option-area p {
  font-size: var(--option-font-size);
  font-weight: var(--option-font-weight);
  margin: 20px auto;
}

.color-wheel {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 15px;
}
