.feature-option-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  font-size: var(--option-font-size);
  font-weight: var(--option-font-weight);
}

.feature-option {
  margin-top: 8px;
}

.feature-checkbox {
  cursor: pointer;
  margin: 8px;
  accent-color: var(--button-shadow-color);
}

.feature-text {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .feature-option-area {
    font-size: 1rem;
    justify-content: flex-start;
    padding-top: 40px;
  }

  .feature-option {
    margin-top: 0px;
  }
}
