.summary-section {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 55px;
}

.text-area {
  margin: 0 auto;
}

.end-text {
  font-size: 1.8rem;
  margin-top: 8px;
}

.answer-area {
  margin-top: 2.5rem;
}

.answer {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.answer-description {
  font-size: 1rem;
  font-weight: 400;
}

.answer-description.feature {
  margin-bottom: 8px;
}

.color-theme-answer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.color-display {
  margin-left: 8px;
  height: 16px;
  width: 55px;
}
