.town-adjective-form,
.pumpkin-adjective-form,
.main-character-name-form,
.wish-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-selector {
    position: relative;
}

.custom-selector select {
    min-height: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
    background: white;
    border-radius: 5px;
    /* border: 2px solid #533D73; */
    outline: none;
    padding: 0 20px;
    width: 225px;
    font-family: Quintessential, cursive;
    cursor: pointer;
    transition: all 0.4s;
    appearance: none;
}

.custom-selector select:focus {
    box-shadow: 0 0 5px #F28A2E, 0 0 1em #F28A2E, 0 0 0.5em #FFFCED;
}

/* hide default dropdown arrow -create new one */
.custom-selector::after {
    content: '';
    border-width: 7px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #533D73;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 37px;
    border-radius: 6px;
}

.custom-selector option {
    font-family: Quintessential, cursive;
}