.main-character-name-form input:focus {
    outline: none;
    box-shadow: 0 0 5px #6B68A6, 0 0 1em #6B68A6, 0 0 0.5em #FFFCED;
  }
  
  .main-character-name-form input {
    border: none;
    border-radius: 10px;
    padding: 5px;
  }
  