.main-character-name-form input:focus {
    outline: none;
    box-shadow: 0 0 5px #F28A2E, 0 0 1em #F28A2E, 0 0 0.5em #FFFCED;
  }
  
  .main-character-name-form input {
    margin-top: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: 8px 5px;
    margin-bottom: 10px;
  }
  

  /*Desktop viewport*/
@media (min-width: 1025px) {
  .main-character-name-form input {
    width: 50%;
  }
}

/*Tablet viewport*/
@media (min-width: 667px) and (max-width: 1024px) {
  .main-character-name-form input {
    width: 50%;
  }
} 