.survey-container {
    background-color: whitesmoke; 
    display: grid;
    grid-template-rows: 25% 25% 40% 10%;
    height: auto;
    padding: 5%;
    margin: 5%;
    border-radius: 2%;
}

button {
    background-color: rgb(117, 177, 116);
    width: 70%;
}