.survey-container {
    background-color: hsl(59,98%,16%); 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1%;
    margin: 5%;
    border-radius: 10px;
}

.survey-container p {
    font-size: 1.1em;
}

button {
    background-color:hsl(58, 100%, 7%); 
    color: white; 
    padding: 8px 16px; 
    margin: 15px ;
    font-size: 1.1em;
    font-weight: 300;
    border: none; 
    border-radius: 20px;
    cursor: pointer; 
}

button:hover {
    background-color: rgb(175,134,6); ;
}
/* .submitted-data {
    max-height: 100px;
} */