.survey-container {
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 25% 25% 40% 10%;
    /*height: auto;*/
    /*Fick kommentera ut height: auto och lägga till height i pixlar för att se allt i form när jag ändrade i stegen. Behöver lösas*/
    height: 200px;
    padding: 5%;
    margin: 5%;
    border-radius: 2%;
}

button {
    background-color: rgb(117, 177, 116);
    /*width: 70%;*/
}