.cat-info {
  padding: 2rem;
  border-radius: 20px 20px;
  text-align: start;
}

.name-gender-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.name-gender-container img {
  height: 1rem;
}

.cat-name {
  margin: 0;
}

.cat-details-container {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

h4 {
  font-weight: 600;
}

.cat-details-container p {
  color: #909090;
  font-weight: 500;
  margin-bottom: 0;
  text-align: start;
}

.description-container {
  line-height: 1.7rem;
}

/* Lines between personality, age and owner */
.vl {
  border-left: 1px solid #ececec;
}

@media (min-width: 1025px) {
  .cat-info {
    padding-top: 0;
    padding-right: 0;
    width: 55%;
  }

  .cat-image {
    width: 45%;
  }
  .cat-image img {
    border-radius: 1rem;
  }

  .form-div .cat-profile-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}
