h1 {
  background-color: #1d3557;
  color: #f1faee;
  text-align: center;
  margin: 0;
  padding: 25px;
  font-family: Helvetica;
}

@media (min-width: 800px) {
  h1 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}
