header {
  width: 100wv;
  margin-bottom: 3em;
}

h1 {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 10%;
  color: white;
  display: none;
}

#headerImg {
  position: relative;
  z-index: 0;
  width: 100%;
  object-fit: cover;
  position: center;
  min-height: 200px;
}

@media screen and (min-width: 768px) {
  header {
    margin-bottom: 5em;
  }
  h1 {
    font-size: 30px;
    top: 1.5em;
  }
}
@media screen and (min-width: 1200px) {
  header {
    margin-bottom: 5em;
  }
  h1 {
    font-size: 40px;
    top: 2em;
    left: 30%;
  }
}
