/* basic style*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Croissant+One&family=Heebo:wght@500&family=Nunito&family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=Raleway:wght@100&display=swap');

:root {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1512100356356-de1b84283e18?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2150&q=80");
  background-size: 200%;
  height: 100%;
}