/* Radiobuttons positioning */
.radio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.radio-buttons-container p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}

.mapContainer{
  margin-bottom: 28px;
}

/* Styling for the Radiobutton answers */
.radio-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: left;
}

/* Space between Radiobutton and it's answers */
.radio-input {
  margin-right: 10px;
}

/* Adding bold font-weight to the answers when clicked on */
.radio-input:checked + .radio-label {
  font-weight: bold;
}

/* Styling for the question */
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-align: center;
}
