.dropdown {
  min-width: 350px;
}

select {
  /*appearance: none;*/
  font-size: 1.15rem;
  padding: 0.1em 4em 0.2em 2em;
  background-color: white;
  border-radius: 0.25rem;
}

.header-container {
  background-color: #0018a4;
  color: white;
  text-align: center;
  padding: 40px 30px;
}

form {
  text-align: center;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 500;
}
h3 {
  margin: 50px;
  font-weight: 400;

}

p {
  font-size: 19px;
}

input[type="text"] {
  display: block;
  margin: 0 auto;
  font-size: 1.15rem;
  padding: 0.2em 1em 0.2em 1em;
  background-color: white;
  border-radius: 0.25rem;
}

button {
  background-color: #0018a4;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  padding: 8px;
  margin: 40px;
}
