/* Survey positioning */
.survey-form {
  background: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  border-radius: 25px;
  padding: 2%;
}

/* Styling for survey heading */
h1 {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Styling for questions */
.label {
  display: block;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Styling for Submit-button */
.button {
  display: block;
  margin: 0 auto;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 5px;
}

.button:hover {
  background-color: blue;
}

/* Media query for screens under 940px */
@media (max-width: 940px) {
  .survey-form {
    width: 70%; 
  }
}

