.dropdown {
  min-width: 350px;
}

select {
  /*appearance: none;*/
  font-size: 1.15rem;
  padding: 0.1em 4em 0.2em 2em;
  background-color: white;
  border-radius: 0.25rem;
  height: 40px;

}

.header-container {
  background-color: #0018a4;
  color: white;
  text-align: center;
  padding: 40px 30px;
}

form {
  text-align: center;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 500;
}

p {
  font-size: 19px;
}

.numbers {
  font-weight: 500;
  font-size: 22px;
  margin-top: 80px;
}

input[type="text"] {
  display: block;
  margin: 0 auto;
  font-size: 1.15rem;
  padding: 0.2em 1em 0.2em 1em;
  background-color: white;
  border-radius: 0.25rem;
  height: 32px;
  border-width:1px;


}

button {
  background-color: #C2C2C2;
  ;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  padding: 10px;
  margin: 40px;
  border-color: black;
  border-width:1px;
}

button:active {
  background-color:#0018a4;
}

button:hover{
  background-color:#0018a4;
}

#result-text {
  font-size: 25px;
  font-weight: 700;
}
.summary-container {
  text-align: center;
  
}

@media screen and (max-width: 668px) {
  form {
    text-align: left;
  }
}

@media (max-width: 668px) {
  .dropdown {
    display: flex;
    justify-content: flex-start;
  }

  label {
    display: flex;
    justify-content: flex-start;
  }

  input[type="text"] {
    width: 88%;
    float: left;
    height: 32px;
  }
  form {
    padding: 5px;
    margin: 7px;
  }
  select {
    width: 99%;
    height: 40px;
  }
  button {
    width: 99%;
    margin: 0;
    margin-top: 20px;
    height: 40px;
  }
}
