.start-section {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--question-background-color);
  color: var(--main-color);
  font-size: 2rem;
}

.start-btn {
  width: 400px;
  height: 80px;
  font-size: 2rem;
}
