.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  font-size: 20px;
}

.toppings-list{
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.toppings-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px 0;
}

.toppings-result {
  display: flex;
  flex-direction: column;
  margin: 2em 0 1em 0;
  border: 1px solid rgb(250, 109, 156);
  border-radius: 20px;
  padding: 1em;
}

p span {
  font-size: 18px;
  font-weight: 500;
  padding-right: 3px;
}
