/* .personality-dropdown {
  border: none;
  font: inherit;
  font-size: inherit;
  cursor: pointer;
  background: linear-gradient(90deg, #f79eb3 0%, #fdc360 100%);
  color: #fff;
  width: 13rem;
  padding: 0.6rem;
  border-radius: 0.25rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

/* Takes away the default blue outline around the select input */
/* select:focus {
  outline: none;
}
} */

.personality-dropdown {
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  background: linear-gradient(90deg, #f79eb3 0%, #fdc360 100%);
  width: 13rem;
  padding: 0.6rem;
  border-radius: 0.25rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
