* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

:root {
  --blue: #0018a4;
  --black: #000000;
  --button-color: #c2c2c2;
  --radio-border: #9c9c9c;
  --radio-bg: #ccd1ed;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 10px;
  font-size: 18px;
}

h2,
p {
  padding-bottom: 20px;
  color: var(--blue);
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: var(--blue);
  padding: 30px 15px;
  max-width: 500px;
  border: solid black;
  margin: 0 auto;
}

.results h3 {
  padding-bottom: 10px;
}

.radio-button-wrapper,
.dropdown,
.text-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border: solid black;
  width: 100%;
}

.radio-button-container {
  display: block;
  padding-bottom: 5px;
}

.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--radio-border);
  background-color: #ffffff;
  padding: 10px 0 10px 15px;
}

.custom-radio.checked {
  background-color: var(--radio-bg);
  padding-left: 35px;
}

.custom-radio.checked::after {
  content: url("./assets/check.png");
  position: absolute;
  left: 20px;
}

select {
  position: relative;
  display: block;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  background-color: #ffffff;
}

.text-input input {
  padding: 13px;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  color: #ffffff;
  background-color: var(--button-color);
  border-radius: 5px;
}

.submit-button:hover {
  background-color: var(--blue);
}

.clear-button {
  width: 100%;
  padding: 10px;
  color: #ffffff;
  background-color: var(--button-color);
  border-radius: 5px;
}

.clear-button:hover {
  background-color: var(--blue);
}

@media (min-width: 668px) {
  form {
    align-items: center;
    font-size: 22px;
  }
  form h2,
  p {
    text-align: center;
    padding-bottom: 25px;
  }

  .radio-button-wrapper,
  .dropdown,
  .text-input {
    width: 400px;
    padding-bottom: 70px;
  }

  .submit-button {
    width: 400px;
  }

  .radio-button-container {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .custom-radio {
    width: 70%;
  }

  .custom-radio.checked::after {
    left: 70px;
  }

  .text-input input {
    font-size: 20px;
  }

  .submit-button {
    width: 200px;
    font-size: 20px;
  }

  .results {
    font-size: 22px;
  }

  .clear-button {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  form {
    align-items: center;
    font-size: 24px;
  }
  .results {
    font-size: 24px;
  }

  .clear-button {
    font-size: 20px;
  }
}
