.main-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.question {
  width: 90%;
  margin: 2em 0;
  padding: 1em 5%;
  background-color: rgb(255, 250, 250);
  border-radius: 20px;
  border: 1px solid #caced1;
}

.result-container img {
  width: 100%;
  border-radius: 20px;
  margin-top: 50px;
}

.result-container h2 {
  margin-bottom: 50px;
}

.quote-name{
  text-align: right;
  padding-right: 10px;
} 

p span {
  font-weight: 400;
}
form {
  margin-top: 2em;
}

input[type='radio'] {
  appearance: none;
  padding: 6px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(56, 56, 56);
  border-radius: 50%;
  margin-right: 1em;
}

input[type='radio']:checked {
  background-color: rgb(255, 126, 94);
}
.radio-option {
  padding-bottom: 1em;
}

input[type='checkbox'] {
  accent-color: rgb(255, 126, 94);
  margin-right: 1em;
}

.dropdown select {
  background-color: #ffffff;
  border: 1px solid #caced1;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  padding: 12px;
  width: 100%;
  max-width: 350px;
  font-size: 16px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

p span {
  font-size: 16px;
  font-weight: 700;
  padding-right: 0.5em;
}

.submit-container {
  width: 90%;
  margin: 0 auto;
  height: 150px;
}

.submit {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='submit'] {
  background-color: rgb(255, 200, 186);
  padding: 15px;
  border: 1px solid #caced1;
  border-radius: 15px;
  font-size: 18px;
}

input[type='submit']:hover {
  background-color: rgb(255, 126, 94);
}

@media screen and (min-width: 768px) {
  .main-container {
    width: 50%;
    margin: 0 auto;
  }
  .submit-container {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    width: 30%;
    margin: 0 auto;
  }
  .submit-container {
    width: 30%;
  }
}
