body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #0018A4;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 400px;

}

.header h1 {
  margin: 0;
  font-family: Poppins;
  font-weight: 500;
  height: 40px;
  line-height: 60px;
  padding: 150px 0 10px 0;
  text-transform: capitalize;
}

.header h2 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: -1,9%;
  margin: 0;
  padding: 0 10px 0;
}

.app-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: none;
  padding: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  h3 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: -1,9%;
  color: #0018A4;
  text-align: center;

  }

  label {
    margin-bottom: 5px;
  }
  
  input {
    width: 600px; 
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #000000;
    padding: 10px;
    gap:10px;
    margin: 0;
  }
  ::placeholder {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -1,9%;
    color: gray;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    appearance: none;
  }

  .musicHappyOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  button[type="option"] {
    background-color: white;
    width: 300px; 
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    border-radius: 6px;
    border: 1px solid #000000;
    padding: 10px;
    padding-left: 10px;
    gap: 10px;
    margin: 0;
  }
  button[type="option"].text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -1,9%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
  }
  
  button[type="option"].selected {
    background-color: #CCD1ED; 
    color: #000000; 
  }
  
  select {
    width: 600px; 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #000000;
    padding: 10px;
    gap:10px;
    margin: 10px 0 10px 0;
  }
  button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    background-color: #0018A4;
    color: #fff;
    border: none;
    width: 193px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1.9%; 
    gap: 10px;
  }
  
  .summary {
    background-color: #fff;
    border: none;
    padding: 20px;
  }
  
  .summary h2 {
    text-align: center;
    justify-content: center;
  }
  @media only screen and (max-width: 600px) {
    .header {
      height: auto;
      padding-top: 100px;
    }
  
    .header h1 {
      font-size: 24px;
      padding: 20px 0 10px 0;
    }
  
    .header h2 {
      font-size: 16px;
    }
  
    .app-container {
      max-width: 100%;
      padding: 10px;
    }
  
    input,
    select,
    button[type="option"],
    button[type="submit"] {
      width: 100%;
    }
  }