.header{
    background-color: var(--indigo);
    color: var(--white);
    display: flex;
    flex-direction: column;
    
}

.img-container img{
    width: 100px;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.text-container{
    text-align: center;
}