.header {
	background-color: var(--indigo);
	color: var(--white);
	display: flex;
	flex-direction: column;
}

.img-container img {
	width: 90%;
	height: auto;
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.text-container {
	text-align: center;
	margin: 0 24px 40px;
	font-size: 1.5rem;
}

/* Tablet and Desktop */
@media (min-width: 768px) {
	.img-container img {
		width: 200px;
		height: auto;
		display: flex;
		justify-content: center;
		margin: 1rem;
	}

	.text-container {
		text-align: center;
		margin-bottom: 40px;
		font-size: 2rem;
	}
}

@media (min-width: 1024px) {
	.img-container img {
		width: 200px;
		height: auto;
		display: flex;
		margin: 1rem;
	}
    .text-container {
		text-align: center;
		margin-bottom: 40px;
		font-size: 2rem;
	}
}