@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url("https://static.thatsup.co/content/img/place/l/i/liberdade-20220914-19.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  object-position: 50% 50%;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.theFormContainer {
  background-color: rgba(255, 228, 196, 0.7);
  width: 80%;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  text-align: center;
}

.the-header {
  text-align: center;
  color: rgba(255, 228, 196, 0.9);
  font-size: 4rem;
  font-family: "Fjalla One", sans-serif;
}

.question {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px 5px 10px 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="number"] {
  width: 100%;
  padding: 10px 5px 10px 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input:focus {
  outline: 2px solid #f5ba3b;
}

.question-name-age {
  font-size: 14px;
}

.radio-buttons {
  padding: 20px 10px;
  width: 800px;
  max-width: 70vW;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon-container input[type="radio"] {
  display: none;
}

/*Style for the custom radio button*/
.custom-radio {
  display: inline-block;
  width: 16px;
  height: 16px;

  border-radius: 50%;
  background-color: #fff;
  transition: backgound-color 0.3s;
  position: relative;
}

.icon-container input[type="radio"]:checked + .custom-radio {
  background-color: white;
}

.icon-container input[type="radio"]:checked + .custom-radio::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #868f80;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons {
  width: 30px;
}
#tumbler {
  width: 25px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Custom button design */
.button {
  background-color: #f4ece1;
  border-radius: 3px;
  border: 1px solid #c7af7a;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #9d7d39;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #ead1b3;
  color: #775f2c;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(255, 166, 0, 0.15);
}

.button:active {
  background-color: #e4d9a0;
  box-shadow: none;
  color: #775c2c;
}

select {
  padding: 10px;
}

select:focus {
  outline: 2px solid #f5ba3b;
}

.hidden {
  display: none;
}

.square-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* padding-left: 30px; */
  font-size: 16px;
  text-align: left;
}

.square-bullets li {
  margin: 0.5em 0;
  padding-left: 1em;
  text-indent: -1em;
}

.lastP {
  display: flex;
  justify-content: center;
  /* margin: 0 166px 10px 0; */
}

.the-drink-pic {
  width: 200px;
}


@media (max-width: 450px){
  .the-header {
    font-size: 3rem;
  }
}

/* For tablets */
@media (min-width: 768px) {
  .theFormContainer {
    width: 70%;
  }

  .the-header {
    font-size: 6rem;
  }

  input[type="text"] {
    font-size: 18px;
  }

  input[type="number"] {
    font-size: 18px;
  }

  .question-name-age {
    font-size: 20px;
  }

  .square-bullets {
    font-size: 20px;
  }
}

/* For desktop */
@media (min-width: 1024px) {
  .theFormContainer {
    width: 70%;
  }

  .the-header {
    font-size: 10rem;
  }

  input[type="text"] {
    font-size: 18px;
  }

  input[type="number"] {
    font-size: 18px;
  }

  .question-name-age {
    font-size: 20px;
  }

  .square-bullets {
    font-size: 20px;
  }
}
