@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* CSS - Variables */
  --primary: #ffffff;
  --white: #ffff;
  --button: #6f6f6f;
  --radius: 6px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url("/chuttersnap-hJNNvvHo3zw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}


body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.44), rgba(4, 50, 95, 0.44));

}

main {
  margin: 0 auto;
}

main,
header {
  max-width: 2000px;
  font-weight: 300;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
  color: var(--primary);
  margin-bottom: 30px;
  font-weight: 400;
}

/* Elements */
button {
  background: #d48247;
  color: var(--white);
  font-size: 20px;
  border: 1px solid var(--white);
  border-radius: var(--radius);
  padding: 18px 20px;
}
/* Media queries */
