:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.test select,
.test input[type="text"],
.test textarea {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

.test textarea {
  resize: vertical;
}

.test button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.test button:hover {
  background-color: #0056b3;
}

.submitted-data {
  margin-top: 20px;
}

.submitted-data p {
  margin-bottom: 10px;
}

.text label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
}
.test h2{
  color: #007bff;
  font-size: 24px;
  margin-bottom: 30px;
}

.test {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  text-align: center;
}


