/*what about styling? Should we do superchristmas with red and gold or keep it simple with white and light blue?*/
:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: darkgreen;
  color: beige;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  font-family: countach, sans-serif;
}

#header-image {
  color: gold;
  width: 90%;
  /* Fixa den ovan till resposive sen, stoppa så den inte dras ut */
  height: 50px;
}

#survey {
  text-align: left;
  margin: auto;
  max-width: 400px; /* Adjust the max-width as needed */
}


button {
  background-color: white;
  border-radius: 2px;
  border-style: dotted;
  border-color: red;
}

.footer {
  border-style: none;
  color: gold;
  padding: 1px;
  margin: 20px;
  text-align: center;
  font-size: x-small;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media screen and (min-width: 480px) {
  body {
    background-color: darkblue;
    color: rgb(241, 207, 121);
  }

  #header-image {
    width: 60%;
    /* Fixa den ovan till resposive sen, stoppa så den inte dras ut */
    height: 70px;
  }
}

@media screen and (min-width: 1000px) {
  #header-image {
    /* Fixa den ovan till resposive sen, stoppa så den inte dras ut */
    width: 60%;
    height: 70px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: darkgreen;
    color: beige;
  }

  #header-image {
    width: 600px;
    height: 70px;
  }
}
