.survey-form {
  margin: 20px;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answers {

}