.survey-form {
	margin: 20px;
	padding: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 1rem;
	margin-bottom: 4rem;
	padding: 10px;
}

.questions {
	font-size: 30px;
	color: var(--indigo);
	font-weight: 700;
}

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
	margin: 24px;
}

.summary {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 1rem;
	margin-bottom: 6rem;
	padding: 10px;
	line-height: 2;
	font-weight: 600;
	color: var(--indigo);
}

.donut-img {
	/*artistic choice to put flex-end and not center! Set to center in tablet and desktop*/
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 50%;
	height: auto;
}

/* Style each component*/
.text-imput {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-imput-answer {
	width: 80%;
	height: 1.5rem;
	margin-top: 24px;
}

.select-option {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.select-option-answer {
	width: 100%;
	height: 2rem;
	margin-top: 24px;
}

.radio-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.2rem;
}

.radio-buttons-answer {
	width: 100%;
	height: 2rem;
	margin-top: 24px;
}

/* RangeSlider container */
.range-slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

/* Label styling */
.range-slider label {
	font-size: 1.2rem;
}

/* Slider input styling */
.range-slider input[type='range'] {
	width: 80%; /* Adjust the width as needed */
	-webkit-appearance: none;
	appearance: none;
	height: 10px;
	border-radius: 5px;
	background: var(--red);
	outline: none;
	margin-bottom: 0.5rem;
}

/* Slider thumb styling */
.range-slider input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--indigo);
	cursor: pointer;
}

.range-slider input[type='range']::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--indigo);
	cursor: pointer;
}

/* Tablet and Desktop */
@media (min-width: 768px) {
	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-top: 4rem;
		margin-bottom: 4rem;
		padding: 10px;
	}

	.donut-img {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		height: auto;
	}
}

@media (min-width: 1024px) {
	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-top: 4rem;
		margin-bottom: 4rem;
		padding: 10px;
	}

	.donut-img {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		height: auto;
	}
}
