.match-wrapper {
    margin: 20px;
    display: block;
    gap: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destination-image-container{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.destination-image {
    position: absolute;
    height: 300px;
}